<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" monitorInterval="5">

    <Appenders>
        <Console name="consoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %msg%n"/>
        </Console>

        <File name="requestsAppender" fileName="logs/requests.log" append="false">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} %-5level %msg%n</Pattern>
            </PatternLayout>
        </File>

        <File name="todoAppender" fileName="logs/todos.log" append="false">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} %-5level %msg%n</Pattern>
            </PatternLayout>
        </File>

    </Appenders>

    <Loggers>
        <Logger name="request-logger" level ="DEBUG">
            <AppenderRef ref="requestsAppender"  level="INFO"/>
            <AppenderRef ref="consoleAppender"/>
        </Logger>
        <Logger name="todo-logger" level="INFO">
            <AppenderRef ref="todoAppender"/>
        </Logger>

        <Root level="INFO">

        </Root>
    </Loggers>

</Configuration>